.dashboardNavContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;

  width: fit-content;

  gap: 2rem;
  padding: 0.4rem;

  background-color: white;
}

.dashboardNavLink {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;

  width: 100%;

  gap: 0.4rem;
  padding: 0.4rem;

  border: 4px solid transparent;
  border-radius: 8px;
}

.linkText {
  font-size: 1rem;
  color: black;
}

.dashboardNavLink:hover {
  cursor: pointer;

  background-color: white;
  border: 2px solid rgb(115, 17, 110);

  font-weight: bolder;
}

.themeBtn {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: bold;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.themeBtn:hover {
  transform: scale(1.1);
}

.logoutBtn {
  padding: 0.4rem;

  background-color: white;
  border-radius: 1rem;
}

.logoutBtn:hover {
  transform: scale(1.02);
  transition: 0.6s;
}

@media screen and (max-width: 950px) {
    .linkText {
        display: none;
    }
}