.dashboardMainContent {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    
    padding: 1rem;

    background-color: whitesmoke;

    overflow: hidden;
    overflow-y: auto;
}

.dashboardMainTitle {
    text-align: left;
    font-size: 1.8rem;
}

.monthSelector {
    display: flex;

    gap: 1rem;
}