.profile-container {
  height: 100%;
  max-width: 600px;
  font-family: sans-serif;
}

.profile-image-section {
  text-align: center;
}

.profile-image {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #444;
  cursor: pointer;
}

.profile-data {
  padding: 1rem;
  background: #f9f9f9;
  border-radius: 8px;
}

.input-nombre {
  width: 100%;
  padding: 6px;
  margin-bottom: 8px;
}

.firma-canvas {
  border: 2px dashed #aaa;
  background: #fff;
  margin-top: 10px;
}

.botones-firma {
  margin-top: 10px;

  button {
    margin-right: 6px;
  }
}

.firma-preview {
  margin-top: 20px;
}

.firma-img {
  border: 1px solid #333;
  width: 80%;
}