.btnSignature {
    padding: 10px 20px;
    
    font-size: 1rem;
    font-weight: bolder;
    text-align: center;
    color: black;
    
    text-decoration: none;
    display: inline-block;
    
    cursor: pointer;
    
    border: 2px solid rgb(115, 17, 110);
    border-radius: 5px;

    background-color: white;
}

.btnSignature:hover {
    background-color: rgb(115, 17, 110);
    color: white;

    transition: background-color 0.3s ease;
}

.botones-firma, .firma-preview {
        display: flex;
        justify-content: center;

        gap: 10px;
}