.dayContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 360px;
    width: 48%;

    flex-grow: 1;

    background-color: white;
    padding: 12px;
    border-radius: 4px;
    font-weight: bold;
}

.dayHeaderContainer {
    width: 100%;
    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    gap: 0.5rem;
}

.dayTitleType {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;

    gap: 0.5rem;
}

.dayHoursAdd {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
}

.addEntryBtn {
    border: 1px solid lightgrey;
    border-radius: 8px;

    padding: 0.5rem;
}

.addEntryBtn:hover {
    cursor: pointer;

    border: 3px solid rgb(115, 17, 110);
}

.addEntryBtn:disabled {
    cursor: default;
    opacity: 0.5;
    border: none;
}
