
.btnRemove {
  padding: 0.4rem 0.6rem;
  background-color: #dc3545;
}

.btnRemove:hover {
  background-color: #bb2d3b;
  border-color: #b02a37;
}

.btnRemove:focus {
  box-shadow: 225, 83, 97;
}

.btnRemove:active {
  background-color: #b02a37;
  border-color: #a52834;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.imgRemove {
  width: 20px;
  height: 20px;
}